@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/flexbox";
@import "compass/css3/opacity";
@import "compass/reset/utilities";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$font: 'Open Sans', sans-serif;
$font-size: 16px;
$accent: #0c3b6b;
$gutter: 16px;

@function rem( $px, $base: $font-size ) {
    @return ( $px / $base ) * 1rem;
}

@include keyframes( marquee ) {
    0% { @include translateX( 0% ); }
    100% { @include translateX( -100% ); }
}

@include keyframes( marquee ) {
    0% { @include translateX( 0% ); }
    100% { @include translateX( -100% ); }
}

@include keyframes( fadeIn ) {
    0% { @include opacity( 0 ); }
    100% { @include opacity( 1 ); }
}

@include keyframes( fadeOut ) {
    0% { @include opacity( 1 ); }
    100% { @include opacity( 0 ); }
}

html {
    
    height: 100%;
    font-size: $font-size;
    
    body {
        
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: $font;
        font-size: rem( 16px );
        
        * {
            @include box-sizing( "border-box" );
        }
        
    }
    
}

#ap-wrapper {
    
    @include nested-reset();
    position: relative;
    min-width: rem( 320px );
    height: 100%;
    
    .icon {
        display: inline-block;
        width: rem( $font-size );
        height: rem( $font-size );
        stroke-width: 0;
        stroke: $accent;
        fill: $accent;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .sr-only {
        position: absolute;
        border: 0;
        clip: rect( 0 0 0 0 );
        width: rem( 1px );
        height: rem( 1px );
        margin: rem( -1px );
        overflow: hidden;
        padding: 0;
    }
    
    .fadeIn {
        @include animation( fadeIn 1s linear 1 );
        @include opacity( 1 );
    }
    
    .fadeOut {
        @include animation( fadeOut 1s linear 1 );
        @include opacity( 0 );
    }
    
    #ap-error {
        
        display: none;
        //@include display-flex();
        @include align-items( center );
        @include justify-content( center );
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #d43131;
        z-index: 10;
        
        .msg {
            
            text-align: center;
            padding: rem( $gutter );
            
            .icon {
                width: auto;
                height: auto;
                display: block;
                font-size: 500%;
            }
            
            .title {
                font-weight: bold;
                font-size: rem( 20px );
            }
            
            .body {
                
                color: #fff;
                
                a {
                    color: #fff;
                }
                
            }
            
        }
        
    } // end error
    
    #ap-splash {
        
        @include display-flex();
        @include align-items( center );
        @include justify-content( center );
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/splash.svg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        
        .cover-info {
            
            position: relative;
            padding: rem( $gutter );
            min-width: rem( 280px );
            width: 80%;
            max-height: 80%;
            @include border-radius( rem( $gutter / 3 ) );
            background-color: rgba( 255, 255, 255, 0.55 );
            
            .title {
                font-weight: bold;
                font-size: rem( 24px );
                line-height: rem( 28px );
                margin-bottom: rem( $gutter / 2 );
            }
            
            .subtitle {
                font-size: rem( 20px );
                line-height: rem( 24px );
                margin-bottom: rem( $gutter );
            }
            
            .author, .length {
                font-size: rem( 16px );
                line-height: rem( 20px );
            }
            
            .actions {
                
                .btn {
                    display: block;
                    border: none;
                    cursor: pointer;
                    background-color: $accent;
                    color: #fff;
                    width: 100%;
                    margin-top: rem( $gutter / 2 );
                    font-size: rem( 18px );
                    line-height: 0;
                    height: rem( 40px );
                    text-transform: uppercase;
                    @include border-radius( rem( $gutter / 3 ) );
                }
                
                .btn:first-child {
                    margin-top: rem( $gutter );
                }
                
                .dropdown {
                    
                    position: relative;
                    
                    .download-btn {
                    
                        font-size: rem( 14px );
                        height: rem( 30px );
                        
                        .icon {
                            width: rem( 14px );
                            height: rem( 14px );
                            stroke: $accent;
                            fill: #fff;
                        }
                        
                    }
                    
                    .dropdown-content {
                        
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        width: 100%;
                        top: 0;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        
                        a {
                            display: block;
                            font-size: rem( 14px );
                            color: $accent;
                            text-decoration: none;
                            padding: rem( $gutter / 2 ) rem( $gutter );
                        }
                        
                        a:hover {
                            background-color: #f1f1f1;
                        }
                        
                    }
                    
                }
                
                .dropdown:hover .dropdown-content {
                    display: block;
                }
                
            }
            
        }
        
    } // end splash
    
    #ap-splash.hide-splash {
        
        z-index: 0;
        
        .cover-info {
            display: none;
        }
        
    }
    
    #ap-main {
        
        @include display-flex();
        @include flex-flow( row wrap );
        @include align-items( flex-start );
        
        position: relative;
        z-index: 1;
        height: 100%;
        overflow: hidden;
        
        .head {
            
            @include display-flex();
            @include flex( 1 0 auto );
            width: 100%;
            height: rem( 107px );
            background-color: rgba( 255, 255, 255, 0.65 );
            padding: rem( $gutter );
            
            .track-img {
                
                @include flex( 0 0 rem( 75px ) );
                width: rem( 75px );
                height: rem( 75px );
                background-color: #ccc;
                margin-right: rem( $gutter );
                
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fix: cover;
                }
                
            }
            
            .track-info {
                
                width: calc( 100% - ( 91px ) );
                @include display-flex();
                @include flex-flow( row wrap );
                @include align-items( flex-start );
                @include flex( 1 0 auto );
                
                .title-wrapper {
                    
                    width: 100%;
                    @include flex( 1 0 auto );
                    
                    .title {
                        font-weight: bold;
                        font-size: ren( 18px );
                        line-height: normal;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap; 
                    }
                    
                }
                
                .marquee {
                    
                    position: relative;
                    width: 100%;
                    height: rem( 23px );
                    @include flex( 1 0 auto );
                    overflow: hidden;
                    
                    .title {
                        position: absolute;
                        overflow: unset;
                        margin: 0;
                        width: 100%;
                        height: 100%;
                        text-overflow: unset;
                        @include translateX( 100% );
                        @include animation( marquee 15s linear 1 );
                    }
                    
                }
                
                .marquee:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: rem( 10px );
                    height: 100%;
                    content: ' ';
                    z-index: 2;
                }
                
                .author {
                    @include flex( 1 0 100% );
                    line-height: 0;
                }
                
                .meta {
                    @include align-self( flex-end );
                    @include flex( 1 0 100% );
                    font-size: rem( 12px );
                }
                
            }
            
        } // end head
        
        .body {
            
            position: relative;
            @include flex( 2 0 auto );
            width: 100%;
            height: calc( 100% - 307px );
            background-color: rgba( 255, 255, 255, 0.25 );
            
            .track-list {
                
                .minimized-display {
                    @include display-flex();
                    @include align-items( center );
                    @include justify-content( center );
                    height: rem( 30px );
                    font-size: rem( 14px );
                    background-color: rgba(226, 226, 226, 0.5);
                }
                
                .tracks {
                    display: none;
                }
                
            }
            
            .spectrum {
                display: none;
                //@include display-flex();
                @include align-items( center );
                @include justify-content( center );
                height: calc( 100% - 30px );
            }
            
            .caption {
                //display: none;
                @include display-flex();
                @include align-items( center );
                @include justify-content( center );
                height: calc( 100% - 30px );
            }
            
            .warning-msg {
                display: none;
                position: absolute;
                font-size: rem( 12px );
                text-align: center;
                padding: rem( $gutter / 4 );
                width: 100%;
                background-color: rgba(255, 242, 162, 0.9);
                bottom: 0;
                left: 0;
            }
            
        }
        
        .foot {
            
            @include flex( 1 0 auto );
            @include align-self( flex-end );
            width: 100%;
            height: rem( 200px );
            background-color: rgba( 255, 255, 255, 0.75 );
            
        }
        
    } // end main
    
    #ap-main:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../images/splash.svg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur( rem( 8px ) );
        content: ' ';
        z-index: -1;
    }
    
}

@media only screen and (min-width: 768px) {
    
    html {
        
        height: unset;
        
        body {
            height: unset;
        }
        
    }
    
    #ap-wrapper {
        
        max-width: rem( 320px );
        margin: rem( $gutter ) auto;
        height: rem( 568px );
        
    }
    
}

@media only screen and ( min-device-width : 414px ) 
and ( max-device-width : 736px ) and ( orientation : portrait ) {
    
    html {
        
        height: 100%;
        
        body {
            height: 100%;
        }
        
    }
    
    #ap-wrapper {
        
        max-width: unset;
        margin: unset;
        height: 100%;
        
        #ap-main {
            
            .head {
            
                height: rem( 214px );
                padding-bottom: rem( $gutter / 2 );
                
                .track-img {
                    
                    @include flex( 0 0 rem( 182px ) );
                    width: rem( 182px );
                    height: rem( 182px );
                    
                }
                
                .track-info {
                    
                    width: calc( 100% - ( 198px ) );
                    
                    .title-wrapper {
                        
                        .title {
                            font-weight: bold;
                            font-size: rem( 34px );
                        }
                        
                    }
                    
                    .marquee {
                        height: rem( 46px );
                    }
                    
                    .author {
                        font-size: rem( 30px );
                    }
                    
                    .meta {
                        font-size: rem( 26px );
                    }
                    
                }
                
            } // end head
        
            .body {
                
                height: calc( 100% - 714px );
                
                .track-list {
                    
                    .minimized-display {
                        height: rem( 60px );
                        font-size: rem( 28px );
                    }
                    
                }
                
                .spectrum {
                    height: calc( 100% - 60px );
                }
                
                .caption {
                    height: calc( 100% - 60px );
                    font-size: rem( 32px );
                }
                
                .warning-msg {
                    font-size: rem( 24px );
                }
                
            }
            
            .foot {
                height: rem( 500px );
            }
            
        } // end main
        
    } // end wrapper
    
}