@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/box-sizing";
@import "compass/css3/border-radius";
@import "compass/css3/flexbox";
@import "compass/css3/opacity";
@import "compass/reset/utilities";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$font: 'Open Sans', sans-serif;
$font-size: 16px;
$accent: #0c3b6b;
$gutter: 16px;
$border-color: #ccc;

@function rem( $px, $base: $font-size ) {
    @return ( $px / $base ) * 1rem;
}

@include keyframes( marquee ) {
    0% { @include translateX( 0% ); }
    100% { @include translateX( -100% ); }
}

@include keyframes( marquee ) {
    0% { @include translateX( 0% ); }
    100% { @include translateX( -100% ); }
}

@include keyframes( fadeIn ) {
    0% { @include opacity( 0 ); }
    100% { @include opacity( 1 ); }
}

@include keyframes( fadeOut ) {
    0% { @include opacity( 1 ); }
    100% { @include opacity( 0 ); }
}

@include keyframes( slideDown ) {
    0% { height: rem( 30px ); }
    100% { height: 100%; }
}

@include keyframes( slideUp ) {
    0% { height: 100%; }
    100% { height: rem( 30px ); }
}

html {
    
    height: 100%;
    font-size: $font-size;
    
    body {
        
        height: 100%;
        padding: 0;
        margin: 0;
        font-family: $font;
        font-size: rem( 16px );
        background-color: #EFEEE8;
        
        * {
            @include box-sizing( "border-box" );
        }
        
    }
    
}

/**** DEV ONLY ****/

.devonly {
    width: rem( 400px );
    margin: 0 auto;
}

/**** END DEV ONLY ****/

#ap-wrapper {
    
    @include nested-reset();
    position: relative;
    min-width: rem( 320px );
    height: 100%;
    background-color: $border-color;
    
    .icon {
        display: inline-block;
        width: rem( $font-size );
        height: rem( $font-size );
        stroke-width: 0;
        stroke: inherit;
        fill: inherit;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    .sr-only {
        position: absolute;
        border: 0;
        clip: rect( 0 0 0 0 );
        width: rem( 1px );
        height: rem( 1px );
        margin: rem( -1px );
        overflow: hidden;
        padding: 0;
    }
    
    .fadeIn {
        @include animation( fadeIn 0.5s linear 1 );
        @include opacity( 1 );
    }
    
    .fadeOut {
        @include animation( fadeOut 0.5s linear 1 );
        @include opacity( 0 );
    }
    
    .slideDown {
        @include animation( slideDown 0.25s linear 1 );
        height: 100%;
    }
    
    .slideUp {
        @include animation( slideUp 0.25s linear 1 );
        height: rem( 30px );
    }
    
    #ap-error {
        
        display: none;
        @include align-items( center );
        @include justify-content( center );
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #d43131;
        z-index: 10;
        
        .msg {
            
            color: #fff;
            text-align: center;
            padding: rem( $gutter );
            
            .icon {
                width: auto;
                height: auto;
                display: block;
                font-size: 500%;
            }
            
            .title {
                font-weight: bold;
                font-size: rem( 20px );
            }
            
            .body {
                
                a {
                    color: #fff;
                }
                
            }
            
        }
        
    } // end error
    
    #ap-splash {
        
        @include display-flex();
        @include align-items( center );
        @include justify-content( center );
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/splash.svg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
        
        .cover-info {
            
            position: relative;
            padding: rem( $gutter );
            min-width: rem( 280px );
            width: 80%;
            max-height: 80%;
            @include border-radius( rem( $gutter / 3 ) );
            background-color: rgba( 255, 255, 255, 0.55 );
            
            .title {
                font-weight: bold;
                font-size: rem( 24px );
                line-height: rem( 28px );
                margin-bottom: rem( $gutter / 2 );
            }
            
            .subtitle {
                font-size: rem( 20px );
                line-height: rem( 24px );
                margin-bottom: rem( $gutter );
            }
            
            .author, .length {
                font-size: rem( 16px );
                line-height: rem( 20px );
            }
            
            .actions {
                
                .btn {
                    display: block;
                    border: none;
                    cursor: pointer;
                    background-color: $accent;
                    color: #fff;
                    width: 100%;
                    margin-top: rem( $gutter / 2 );
                    font-size: rem( 18px );
                    line-height: 0;
                    height: rem( 40px );
                    text-transform: uppercase;
                    @include border-radius( rem( $gutter / 3 ) );
                }
                
                .btn:first-child {
                    margin-top: rem( $gutter );
                }
                
                .dropdown {
                    
                    position: relative;
                    
                    .download-btn {
                    
                        font-size: rem( 14px );
                        height: rem( 30px );
                        
                        .icon {
                            width: rem( 14px );
                            height: rem( 14px );
                            fill: #fff;
                            stroke: #fff;
                        }
                        
                    }
                    
                    .dropdown-content {
                        
                        display: none;
                        position: absolute;
                        background-color: #f9f9f9;
                        width: 100%;
                        top: 0;
                        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                        z-index: 1;
                        
                        a {
                            display: block;
                            font-size: rem( 14px );
                            color: $accent;
                            text-decoration: none;
                            padding: rem( $gutter / 2 ) rem( $gutter );
                        }
                        
                        a:hover {
                            background-color: #f1f1f1;
                        }
                        
                    }
                    
                }
                
                .dropdown:hover .dropdown-content {
                    display: block;
                }
                
            }
            
        }
        
    } // end splash
    
    #ap-splash.hide-splash {
        
        z-index: 0;
        
        .cover-info {
            display: none;
        }
        
    }
    
    #ap-main {
        
        @include display-flex();
        @include flex-flow( row wrap );
        @include align-items( flex-start );
        
        position: relative;
        z-index: 1;
        height: 100%;
        overflow: hidden;
        
        .head {
            
            @include display-flex();
            @include flex( 1 0 auto );
            width: 100%;
            height: rem( 107px );
            background-color: rgba( 255, 255, 255, 0.65 );
            padding: rem( $gutter );
            
            .track-img {
                
                @include flex( 0 0 rem( 75px ) );
                width: rem( 75px );
                height: rem( 75px );
                background-color: $border-color;
                margin-right: rem( $gutter );
                
                button {
                    
                    display: block;
                    position: relative;
                    border: none;
                    background-color: transparent;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    cursor: pointer;
                    
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fix: cover;
                    }
                    
                }
                
                button:hover:after {
                    position: absolute;
                    @include display-flex();
                    @include align-items( center );
                    padding: rem( $gutter / 2 );
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    color: #fff;
                    font-size: rem( 12px );
                    text-align: center;
                    background-color: rgba( 0, 0, 0, 0.5 );
                    content: 'Show Profile';
                    @include box-sizing( "border-box" );
                }
                
            }
            
            .track-info {
                
                width: calc( 100% - ( 91px ) );
                @include display-flex();
                @include flex-flow( row wrap );
                @include align-items( flex-start );
                @include flex( 1 0 auto );
                
                .title-wrapper {
                    
                    width: 100%;
                    @include flex( 1 0 auto );
                    
                    .title {
                        font-weight: bold;
                        font-size: rem( 18px );
                        line-height: normal;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap; 
                    }
                    
                }
                
                .marquee {
                    
                    position: relative;
                    width: 100%;
                    height: rem( 25px );
                    @include flex( 1 0 auto );
                    overflow: hidden;
                    
                    .title {
                        position: absolute;
                        overflow: unset;
                        margin: 0;
                        width: 100%;
                        height: 100%;
                        text-overflow: unset;
                        @include translateX( 100% );
                        @include animation( marquee 15s linear 1 );
                    }
                    
                }
                
                .marquee:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: rem( 10px );
                    height: 100%;
                    content: ' ';
                    z-index: 2;
                }
                
                .author {
                    @include flex( 1 0 100% );
                    line-height: 0;
                }
                
                .meta {
                    @include align-self( flex-end );
                    @include flex( 1 0 100% );
                    font-size: rem( 12px );
                }
                
            }
            
        } // end head
        
        .body {
            
            position: relative;
            @include flex( 2 0 auto );
            width: 100%;
            height: calc( 100% - 307px );
            background-color: rgba( 255, 255, 255, 0.25 );
            
            .track-list {
                
                @include display-flex();
                @include align-items( flex-start );
                @include justify-content( center );
                position: relative;
                background-color: rgba(226, 226, 226, 0.5);
                
                .minimized-display {
                    @include display-flex();
                    @include align-items( center );
                    @include justify-content( center );
                    width: 100%;
                    height: rem( 30px );
                    font-size: rem( 14px );
                }
                
                .tracks {
                    
                    display: none;
                    position: relative;
                    width: 100%;
                    margin: 0;
                    list-style: none;
                    height: 100%;
                    overflow-y: auto;
                    overflow-x: hidden;
                    
                    .label {
                        @include display-flex();
                        @include align-items( center );
                        position: sticky;
                        top: 0;
                        height: rem( 20px );
                        padding: 0 rem( $gutter );
                        font-size: rem( 12px );
                        font-weight: bold;
                        color: #666;
                        background-color: rgba(226, 226, 226, 0.9);
                    }
                    
                    li {
                        
                        font-size: rem( 14px );
                        
                        a {
                            
                            @include display-flex();
                            @include align-items( center );
                            width: 100%;
                            height: rem( 40px );
                            padding: rem( $gutter / 4 ) rem( $gutter );
                            color: #000;
                            text-decoration: none;
                            border-bottom: rem( 1px ) solid rgba(226, 226, 226, 0.9);
                            
                            .track-img {
                                display: block;
                                width: auto;
                                height: 100%;
                                margin-right: rem( $gutter / 2 );
                            }
                            
                            .track-title {
                                @include flex( 2 0 auto );
                            }
                            
                            .track-download {
                                
                                background-color: transparent;
                                border: none;
                                cursor: pointer;
                                
                                svg {
                                    fill: #444;
                                }
                                
                            }
                            
                            .track-download:hover {
                                
                                svg {
                                    fill: $accent;
                                }
                                
                            }
                            
                        }
                        
                    }
                    
                    li:hover {
                        background-color: rgba(226, 226, 226, 0.5);
                    }
                    
                }
                
                .expand-btn {
                        
                    position: absolute;
                    border: none;
                    width: rem( 30px );
                    height: rem( 15px );
                    bottom: rem( -15px );
                    padding: 0;
                    border-bottom-left-radius: rem( 30px );
                    border-bottom-right-radius: rem( 30px );
                    background-color: rgba(226, 226, 226, 0.5);
                    cursor: pointer;
                    z-index: 10;
                    
                    .icon {
                        width: rem( 12px );
                        height: rem( 12px );
                    }
                    
                }
                
                .expand-btn.rotate {
                    
                    background-color: rgba(226, 226, 226, 0.9);
                    
                    .icon {
                        margin-top: rem( 1px );
                        @include rotate( 180deg );
                    }
                    
                }
                
            }
            
            .cc-spec-display {
                
                height: calc( 100% - 30px );
                
                .spectrum {
                    display: none;
                    @include align-items( center );
                    @include justify-content( center );
                    height: 100%;
                }
                
                .caption {
                    display: none;
                    @include align-items( center );
                    @include justify-content( center );
                    height: 100%;
                }
                
                .active {
                    @include display-flex();
                }
                
            }
            
            .warning-msg {
                display: none;
                position: absolute;
                font-size: rem( 12px );
                text-align: center;
                padding: rem( $gutter / 4 );
                width: 100%;
                background-color: rgba(255, 242, 162, 0.9);
                bottom: 0;
                left: 0;
            }
            
            .controls {
                
                position: absolute;
                @include display-flex();
                top: rem( 45px );
                right: rem( $gutter );
                
                button {
                    
                    @include display-flex();
                    @include align-items( center );
                    @include justify-content( center );
                    width: rem( 40px );
                    height: rem( 30px );
                    border: none;
                    padding: 0;
                    background-color: rgba( 255, 255, 255, 0.75 );
                    color: #000;
                    cursor: pointer;
                    
                    .icon {
                        width: rem( 22px );
                        height: rem( 22px );
                    }
                                        
                }
                
                .disabled {
                    @include opacity( 0.55 );
                    cursor: default;       
                }
                
                #cc-toggle {
                    border-right: rem( 1px ) solid $border-color;
                    @include border-radius( rem( $gutter / 3 ) 0 0 rem( $gutter / 3 ) );
                }
                
                #spectrum-toggle {
                    
                    border-bottom: rem( 1px ) solid $border-color;
                    @include border-radius( 0 rem( $gutter / 3 ) rem( $gutter / 3 ) 0 );
                    
                    .icon {
                        width: rem( 20px );
                        height: rem( 20px );
                    }
                    
                }
                
            }
            
        }
        
        .single {
            
            .track-list {
                display: none;
            }
            
            .cc-spec-display {
                height: 100%;
            }
            
            .controls {
                top: rem( $gutter );
            }
            
        }
        
        .foot {
            
            @include flex( 1 0 auto );
            @include align-self( flex-end );
            width: 100%;
            height: rem( 200px );
            background-color: rgba( 255, 255, 255, 0.75 );
            
            .audio-ui {
                
                height: 100%;
                
                .plyr--full-ui {
                    height: 100%;
                    
                }
                
                .plyr--audio {
                    
                    .plyr__controls {
                    
                        @include display-flex();
                        @include flex-flow( row wrap );
                        @include align-items( flex-start );
                        color: #444;
                        background: transparent;
                        height: 100%;
                        padding: rem( $gutter );
                        
                        input[type="range"] {
                            color: $accent;
                        }
                        
                        .plyr__tooltip {
                            padding: rem( $gutter / 3 );
                            font-size: rem( 12px );
                        }
                        
                        .plyr__control:hover {
                            background: transparent;
                            color: $accent;
                        }
                        
                        .top-controls {
                            
                            @include display-flex();
                            @include flex( 1 0 100% );
                            
                            .plyr__time--current {
                                font-size: rem( 14px );
                                margin-right: rem( $gutter / 2 );
                            }
                            
                            .plyr__progress {
                                
                                left: unset;
                                
                                input[type="range"] {
                                    width: 100%;
                                    margin-left: unset;
                                    margin-right: unset;
                                }
                                
                                .plyr__progress__buffer {
                                    width: 100%;
                                    margin-left: unset;
                                    margin-right: unset;
                                }
                                
                            }
                            
                            .plyr__time--duration {
                                font-size: rem( 14px );
                                margin-left: rem( $gutter / 2 );
                            }
                            
                        }
                        
                        .middle-controls {
                            
                            @include display-flex();
                            @include flex( 1 0 100% );
                            @include align-items( center );
                            @include justify-content( space-between );
                            height: calc( 100% - 52px );
                            
                            svg {
                                width: rem( 25px );
                                height: rem( 25px );
                            }
                            
                            #ap-playpause {
                                
                                @include display-flex();
                                @include align-items( center );
                                @include justify-content( center );
                                border: rem( 1px ) solid #444;
                                @include border-radius( 50% );
                                padding: rem( $gutter );
                                width: rem( 80px );
                                height: rem( 80px );
                                
                                svg {
                                    width: rem( 40px );
                                    height: rem( 40px );
                                    margin-left: rem( 2px );
                                }
                                
                                .icon--pressed {
                                    margin-left: rem( 8px );
                                }
                                
                                .plyr__tooltip {
                                    @include transform( translate( -3%, 0 ) scale( 1 ) );
                                }
                                
                            }
                            
                            #ap-playpause:hover {
                                border-color: $accent;
                            }
                            
                        }
                        
                        .bottom-controls {
                            
                            @include align-self( flex-end );
                            @include display-flex();
                            @include flex( 1 0 100% );
                            @include align-items( center );
                            @include justify-content( space-between );
                            
                            #ap-playbackRate {
                                font-weight: bold;
                                font-size: rem( 15px );
                                padding-top: 0;
                                padding-bottom: 0;
                                text-align: center;
                                -webkit-appearance: none; 
                                -moz-appearance: none;
                                appearance: none;
                                border: none;
                                background-color: transparent;
                                color: #444;
                                outline: none;
                                width: rem( 32px );
                            }
                            
                            #ap-loop.active {
                                color: $accent;
                            }
                            
                            .ap-volcontrols {
                                @include display-flex();
                                @include align-items( center );
                                @include justify-content( center );
                            }
                            
                            input[type="range"] {
                                color: #444;
                            }
                            
                        }
                    }
                }
                
            }
            
        }
        
        #author-overlay {
            
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: rem( $gutter * 2 ) 0 rem( $gutter );
            background-color: rgba( 255, 255, 255, 0.95 );
            z-index: 99;
            
            #author-close-btn {
                position: absolute;
                width: rem( 30px );
                height: rem( 30px );
                border: rem( 1px ) solid $border-color;
                top: rem( $gutter );
                right: rem( $gutter );
                padding: 0 0 rem( 3.5px ) rem( 1px );
                font-size: rem( 24px );
                color: #a2a2a2;
                line-height: 0;
                text-align: center;
                @include border-radius( 100% );
                cursor: pointer;
            }
            
            #author-close-btn:hover {
                color: #000;
                border-color: #a2a2a2;
            }
            
            .content {
                
                height: 100%;
                padding: 0 rem( $gutter );
                font-size: rem( 14px );
                line-height: rem( 18px );
                overflow: auto;
                
                h4, p, ul, ol {
                    margin-bottom: rem( $gutter );
                }
                
                h4 {
                    font-weight: bold;
                    font-size: rem( 18px );
                    line-height: rem( 22px );
                }
                
                ul, ol {
                    padding-left: rem( $gutter * 2 );
                }
                
            }
            
        } // end overlay
        
    } // end main
    
    #ap-main:before {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../images/splash.svg");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur( rem( 8px ) );
        content: ' ';
        z-index: -1;
    }
    
}

@media only screen and (min-width: 768px) {
    
    html {
        
        height: unset;
        
        body {
            height: unset;
        }
        
    }
    
    #ap-wrapper {
        
        max-width: rem( 320px );
        margin: rem( $gutter ) auto;
        height: rem( 568px );
        
    }
    
}

@media only screen and ( min-device-width : 414px ) 
and ( max-device-width : 736px ) and ( orientation : portrait ) {
    
    html {
        
        height: 100%;
        
        body {
            height: 100%;
        }
        
    }
    
    #ap-wrapper {
        
        max-width: unset;
        margin: unset;
        height: 100%;
        
        #ap-main {
            
            .head {
            
                height: rem( 214px );
                padding-bottom: rem( $gutter / 2 );
                
                .track-img {
                    
                    @include flex( 0 0 rem( 182px ) );
                    width: rem( 182px );
                    height: rem( 182px );
                    
                }
                
                .track-info {
                    
                    width: calc( 100% - ( 198px ) );
                    
                    .title-wrapper {
                        
                        .title {
                            font-weight: bold;
                            font-size: rem( 34px );
                        }
                        
                    }
                    
                    .marquee {
                        height: rem( 46px );
                    }
                    
                    .author {
                        font-size: rem( 30px );
                    }
                    
                    .meta {
                        font-size: rem( 26px );
                    }
                    
                }
                
            } // end head
        
            .body {
                
                height: calc( 100% - 714px );
                
                .track-list {
                    
                    .minimized-display {
                        height: rem( 60px );
                        font-size: rem( 28px );
                    }
                    
                }
                
                .cc-spec-display {
                
                    height: calc( 100% - 60px );
                    
                    .caption {
                        font-size: rem( 32px );
                    }
                    
                }
                
                .warning-msg {
                    font-size: rem( 24px );
                }
                
            }
            
            .foot {
                height: rem( 500px );
            }
            
        } // end main
        
    } // end wrapper
    
}